@model TheBoardOfShame.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login page";
}

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <body class="bodyLogin">
        <div class="login">
            <img src="~/loginDude.png" class="dudes">
            <h1>
                Login
            </h1>
            <p>@ViewBag.ErrorMsg</p>
            <form method="post" asp-action="Login">
                <p>
                    Username
                </p>
                <div>
                    <input type="text" name="" asp-for="Email" placeholder="Enter Username">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <p>
                    Password
                </p>
                <div>
                    <input type="password" name="" asp-for="Password" placeholder="Enter Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="submit" name="" value="Login">
            </form>
        </div>
    </body>
</head>
</html>