@{
    ViewData["Title"] = "Sign Up page";
}

<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
    <body class="bodySignIn">
    <div class="signIn">
        <img src="~/signUpDude.png" class="dudes">
        <h1 class="loginSignUpH1">
            SignUp
        </h1>
        <form>
            <p>
                Username
            </p>
            <input type="text" name="" placeholder="Enter Username">
            <p>
                Password
            </p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="password" name="" placeholder="Confirm Password">
            <input type="submit" name="" value="Confirm">
        </form>
    </div>
    </body>
</head>
</html>