@model TheBoardOfShame.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <body class="bodySignIn">
        <div class="signIn">
            <img src="~/signUpDude.png" class="dudes">
            <h1>
                SignUp
            </h1>
            <form method="post">
                <p>
                    Username
                </p>
                <div>
                    <input asp-for="Email" class="form-control" placeholder="Enter Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <p>
                    First Name
                </p>
                <div>
                    <span asp-validation-for="FirstName" class="text-danger" placeholder="Enter First Name"></span>
                    <input asp-for="FirstName" class="form-control" />
                </div>

                <p>
                    Last Name
                </p>
                <div>
                    <input asp-for="LastName" class="form-control" placeholder="Enter Last Name"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <p>
                    Age
                </p>
                <div>
                    <input asp-for="Age" name="" placeholder="Enter Age">
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <p>
                    Password
                </p>
                <div>
                    <input asp-for="Password" class="form-control" placeholder="Enter Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <input type="submit" name="" value="Confirm">
            </form>
        </div>
    </body>
</head>
</html>