@model TheBoardOfShame.Model.Chore
<html xmlns="http://www.w3.org/1999/xhtml%22%3E">
<head>
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="/css/delete.css" />
<body class="deleteBg">
    <div class="delete">
        <p class="deleteTitle">Showing the details of the chore </p>

        <p>Name of Chore: @Model.ChoreType</p>

        <p>Description of Chore: @Model.ChoreDescription</p>

        <p>Chore Weighting : @Model.ChoreWeight</p>

        <form method="post" asp-action="DeleteChores">
            <button type="submit" class="deleteBtn">Confirm Delete</button>
        </form>
    </div>

    

</body>
</html>
