@model TheBoardOfShame.ViewModels.WeatherViewModel


<html xmlns="http://www.w3.org/1999/xhtml%22%3E">
<head>
    <title></title>
</head>
<body>
Displaying Weather
    
<p>@Model.Weather.description</p>
<p>@Model.currentLocation</p>
<div>
    <div class="col-md-12">
        <p>@Model.Weather.description</p>
        <p>@Model.currentLocation</p>

    </div>
</div>

</body>
</html>