@model TheBoardOfShame.Model.User


<html xmlns="http://www.w3.org/1999/xhtml%22%3E">
<head>
    <title></title>
</head>
<body>
<p>Showing the details of the user</p>

<p>First Name: @Model.FirstName</p>

<p>Last Name: @Model.LastName</p>

<p>Age: @Model.Age</p>

<p>Email : @Model.Email</p>


</body>
</html>