<!-- created by Scott. Presents the list of chores, a list of users and the scores for each chore for each user -->
@model TheBoardOfShame.ViewModels.ChoreViewModel
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: url('https://cdn.hipwallpaper.com/i/44/90/yvxDu0.jpg');
            background-repeat: no-repeat;
            background-size: auto;
            color: #b7cbeb;
        }

        a {
            color: #7e8eab;
        }

        p {
            background-color: #8aa5cf;
            font-size: 25px;
            color: #e8f1ff;
        }

        tr {
            border-radius: 10px;
        }
    </style>
</head>


<html>
<body>

    <p class="w3-panel w3-blue-grey">The Chore Board</p>


    <table class="table table-striped table-dark border="1">
        <thead>

            <tr>
                <th></th>
                @foreach (var chore in Model.Chores)
                {
                    <th>
                        <a asp-action="GiveDetails" asp-route-Id="@chore.Id">@chore.ChoreType</a>
                    </th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td><a asp-action="GiveUsers">@user.FirstName</a></td>
                    @foreach (var user1 in Model.Users)
                    {
                        <td>@user1.LastName</td>
                    }
                </tr>
            }

        </tbody>
    </table>

</body>
</html>