@model TheBoardOfShame.ViewModels.ChoreViewModel

<html>
<body>
<p class="alert alert-primary">The Chore Board</p>

<table class="table table-striped" border ="1">

    <thead>

    <tr>
        <th></th>
        @foreach (var chore in Model.Chores)
        {
            <th>
                <a asp-action ="GiveDetails">@chore.ChoreType</a>
            </th>
        }

    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td><a asp-action="GiveUsers">@user.FirstName</a></td>
        @foreach (var user1 in Model.Users)
        {
            <td>@user1.LastName</td>
        }
        </tr>
    }

    </tbody>
</table>

</body>
</html>